@* Copyright (c) Maarten van Stam and Eric Legault. All rights reserved. Licensed under the MIT License. *@

@inherits LayoutComponentBase

<div class="main" data-bs-theme="dark">
	<div class="content">
		<div class="container">
			@Body
		</div>
	</div>
</div>