@using Microsoft.Office.Interop.Outlook;
@inject OutlookCOM outlookCOM

@exceptions
<div class="container text-light">
@foreach (var item in items)
{
    
  <div class="row">
      @item.Subject
      </div>
}
</div>


@code {
    string exceptions;
    IEnumerable<MailItem> items;
    Microsoft.Office.Interop.Outlook.Application outlookApp;

    protected override void OnInitialized()
    {
        try
        {
            // Microsoft.Office.Interop.Outlook.Application outlookApp = new Microsoft.Office.Interop.Outlook.Application();
            outlookApp = outlookCOM.outlookApp;
            NameSpace outlookNamespace = outlookApp.GetNamespace("MAPI");
            MAPIFolder inboxFolder = outlookNamespace.GetDefaultFolder(OlDefaultFolders.olFolderInbox);
            var filter = $"[ReceivedTime] >= '{DateTime.Today.AddDays(-10).ToString("dd/MM/yyyy")}'";
            items = inboxFolder.Items.Restrict(filter).OfType<MailItem>().Take(10);
        }
        catch (System.Exception e)
        {
            exceptions = e.ToString();
        }
    }
}